<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>Email: <%= @user.email %></p>
    <p>Password: <%= @password %></p>
    <p><%= link_to "sign_in", root_url %></p>
    <p>
      Sample mail sent using smtp.
    </p>
  </body>
</html>
