<div class="footer-bottom">
    <div class="container">
        <div class="row">
        <div class="col-md-12 widget">© 2014 | Created with Boostrap <span class="pull-right">Minimize your browser »</span>
            </div>
        </div>
    </div>
</div>
